JPA_BI_WS_Client/Webservice.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions targetNamespace="http://DefaultNamespace" xmlns:apachesoap="http://xml.apache.org/xml-soap" xmlns:impl="http://DefaultNamespace" xmlns:intf="http://DefaultNamespace" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
<!--WSDL created by Apache Axis version: 1.4
Built on Apr 22, 2006 (06:55:48 PDT)-->
 <wsdl:types>
  <schema elementFormDefault="qualified" targetNamespace="http://DefaultNamespace" xmlns="http://www.w3.org/2001/XMLSchema">
   <element name="main">
    <complexType>
     <sequence>
      <element maxOccurs="unbounded" name="args" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
   <element name="mainResponse">
    <complexType/>
   </element>
   <element name="searchCustomer">
    <complexType>
     <sequence>
      <element name="vorname" type="xsd:string"/>
      <element name="name" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
   <element name="searchCustomerResponse">
    <complexType>
     <sequence>
      <element name="searchCustomerReturn" type="xsd:boolean"/>
     </sequence>
    </complexType>
   </element>
   <element name="addCustomer">
    <complexType>
     <sequence>
      <element name="vorname" type="xsd:string"/>
      <element name="name" type="xsd:string"/>
      <element name="adresse" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
   <element name="addCustomerResponse">
    <complexType>
     <sequence>
      <element name="addCustomerReturn" type="xsd:boolean"/>
     </sequence>
    </complexType>
   </element>
  </schema>
 </wsdl:types>

   <wsdl:message name="mainResponse">

      <wsdl:part element="impl:mainResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="addCustomerRequest">

      <wsdl:part element="impl:addCustomer" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="addCustomerResponse">

      <wsdl:part element="impl:addCustomerResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="searchCustomerRequest">

      <wsdl:part element="impl:searchCustomer" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="searchCustomerResponse">

      <wsdl:part element="impl:searchCustomerResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="mainRequest">

      <wsdl:part element="impl:main" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:portType name="Webservice">

      <wsdl:operation name="main">

         <wsdl:input message="impl:mainRequest" name="mainRequest">

       </wsdl:input>

         <wsdl:output message="impl:mainResponse" name="mainResponse">

       </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="searchCustomer">

         <wsdl:input message="impl:searchCustomerRequest" name="searchCustomerRequest">

       </wsdl:input>

         <wsdl:output message="impl:searchCustomerResponse" name="searchCustomerResponse">

       </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="addCustomer">

         <wsdl:input message="impl:addCustomerRequest" name="addCustomerRequest">

       </wsdl:input>

         <wsdl:output message="impl:addCustomerResponse" name="addCustomerResponse">

       </wsdl:output>

      </wsdl:operation>

   </wsdl:portType>

   <wsdl:binding name="WebserviceSoapBinding" type="impl:Webservice">

      <wsdlsoap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>

      <wsdl:operation name="main">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="mainRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="mainResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="searchCustomer">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="searchCustomerRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="searchCustomerResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="addCustomer">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="addCustomerRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="addCustomerResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

   </wsdl:binding>

   <wsdl:service name="WebserviceService">

      <wsdl:port binding="impl:WebserviceSoapBinding" name="Webservice">

         <wsdlsoap:address location="http://localhost:8080/JPA_BI/services/Webservice"/>

      </wsdl:port>

   </wsdl:service>

</wsdl:definitions>
